<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavo.destinybd" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/destiny_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemsMenu"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gustavo.destinybd.MainMenu" />
        </activity>
        <activity
            android:name=".WeaponsIndex"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gustavo.destinybd.ItemsMenu" />
        </activity>
        <activity
            android:name=".WeaponScreen"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gustavo.destinybd.WeaponsIndex" />
        </activity>
        <activity
            android:name=".WarlockArmorMenu"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ArmorsIndex"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HunterArmorMenu"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TitanArmorMenu"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ArmorScreen"
            android:label="@string/title_activity_items_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuestIndex"
            android:label="@string/mission"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuestScreen"
            android:label="@string/mission"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EventsScreen"
            android:label="@string/events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameScreen"
            android:label="@string/game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScreenHistory"
            android:label="@string/history"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
